<!DOCTYPE html>
<html ng-app="myApp"lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title>Net Credit</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>
</head>


<body ng-controller="myController">

    <div ng-show="logOutDiv" style="float: right;">
        <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="logOut()">Logout</button>
    </div>

    <div class="container"  ng-show="validation">{{validParam}} </div>
    <div class="container" id="formRegist" ng-show="showRegister" >
        <div class="jumbotron" style="padding-bottom:0px;">
            <h2>Net Credit </h2>
        </div>
        <form class="form-signin" role="form">
            <div style="color: red">*</div>
            <input type="name" id="name" ng-model="Name" class="form-control" placeholder="Name" required autofocus="">
            <div style="color: red">*</div>
            <input type="password" id="password" ng-model="Password"  class="form-control" placeholder="password" required autofocus="">
            <input type="name" id="phone" ng-model="Phone" class="form-control" placeholder="phone" required=""  required autofocus="">
            <input type="Date" id="birthday" ng-model="Birthday"class="form-control" placeholder="birthday" required="" autofocus="">
            <input type="number" id="monthSalary" ng-model="MonthSalary" class="form-control" placeholder="monthSalary" required="">
            <input type="number" id="currentLiability" ng-model="CurreentLia" class="form-control" placeholder="currentLiability" required="">
            <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="onClickRegister()">Register</button>
            <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="showSingUP()">Sign In </button>
        </form>
    </div>

    <div  class="container"  ng-show="showResult">
        <h3> Hello Dear </h3>
        <input type="name" ng-model="vname" class="form-control" placeholder="Name" required="" autofocus="" >
        <input type="password" ng-model="vpassword" class="form-control" placeholder="password" required="" autofocus="" >
        <input type="name" ng-model="vphone" class="form-control" placeholder="phone" required="" autofocus="">
        <input type="name" ng-model="vbirthday" class="form-control" placeholder="birthday" required="" autofocus="" readonly>
        <input type="number" ng-model="vmonthSalary" class="form-control" placeholder="monthSalary" required="" readonly>
        <input type="number" ng-model="vcurrentLiability" class="form-control" placeholder="currentLiability" required="" readonly>
        <!--<input type="number" ng-model="maxablity" class="form-control" placeholder="max avail" required="" readonly>-->
        <div>{{MaxAvail}}</div>
        <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="updateParam()">Update Profile</button>
    </div>

    <div class="container"  id="singUp" ng-show="showSingIn">
            <div class="jumbotron" style="padding-bottom:0px;">
                <h2>Net Credit </h2>
            </div>
            <form class="form-signin" role="form">
                <input type="name"  ng-model="nameS" class="form-control" placeholder="Name" required="" autofocus="">
                <input type="password" ng-model="passwordS" class="form-control" placeholder="Password" required="" autofocus="">
                <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="onSingUp()">Sign In</button>
                <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="backToRegister()">Register</button>
            </form>
    </div>
</body>
</html>